
/* Dark-mode- painike */

.mode_input {
  opacity: 0;
  position: absolute;
}

.mode_label {
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  height: 26px;
  width: 50px;
  position: relative;
  border-radius: 0.8em;
}

.ball {
  background-color: #fff;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  width: 22px;
  height: 22px;
  position: absolute;
  transition: transform 0.2s linear;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #ffae10;
}

/* Body */

body.dark {
    background-color: #121212;
    color: #ffffff;
}

/* Navbar */

.navTuoteryhma.dark {
    background-color: #121212;
}

#toolbar.dark {
    background-color: #121212 !important;
    border-top: solid thin #7dd2d9;
    border-bottom: solid thin #7dd2d9;
}

#toolbar-collapse.dark {
    background-color: #121212;
}

/* #dropdown-menu.dark {
    background-color: #121212;
} */

#kauppa_otsikko.dark {
    background-color: #FFE135;
    color: #ffffff;
}

/* Footer */

#footer.dark {
    background-color: #121212;
}
  
#mode_label.dark {
    background-color: #7dd2d9;
}
