/*Fontit käytöön */
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat:ital,wght@1,700&family=Roboto&display=swap,");

/*Yleisiä asetuksia*/

html {
  scroll-behavior: smooth;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

body {
  background-color: #ffffff;
  color: #121212;
}

.shiro {
  color: #ffffff;
}
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

p,
a {
  font-family: "Didact Gothic", sans-serif;
}

p .little_padding {
  padding: 1rem;
}

.padding {
  padding: 0.3rem;
}

.container {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.btn-secondary {
  background-color: #3f3f3f;
  color: #ffffff;
}

.btn-secondary:hover {
  background-color: #a6a6a6;
  color: #ffffff;
}

.btn-dark {
  background-color: #3f3f3f;
  color: #ffffff;
}

.btn-dark:hover {
  background-color: #3f3f3f;
  color: #ffffff;
}

.tilaaYlos {
  margin-top: 0.5rem;
}

.korkeutta {
  min-height: 300px;
}

.linkkiVari:hover {
  color: #cb6bec;
}

.linkkiVari2 {
  color: #7dd2d9;
  font-size: 1.1rem;
}

.linkkiVari2:hover {
  color: #cb6bec;
}

.linkkiFooter {
  color: #ffffff;
  font-size: 1.2rem;
}

.linkkiFooter:hover {
  color: #cb6bec;
}

/*Header osuus */
.jumbotron {
  background-image: url("../img/logo_icons/ash1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0;
  height: 250px;
}

.navbar {
  background-color: transparent !important;
}
.navTuoteryhma {
  background-color: #7dd2d9;
  max-height: 3rem;
}

.navTuoteryhma a {
  color: #ffffff;
  transition: 0.5s;
  border-radius: 0.25em;
}

.vainMobiili {
  display: none;
}

@media screen and (max-width: 992px) {
  .piilotusMobiili {
    display: none !important;
  }

  .vainMobiili {
    display: inline;
  }
}

.navTuoteryhma a:hover {
  background-color: #7dd2d9;
  color: #ffffff;
  font-size: 110%;
  transition: 0.5s;
}
.justify-content-center {
  height: 50%;
}

.ostos_nav a {
  color: #ffffff;
}

.fa-user {
  color: #d5d5d5;
  font-size: 1.5rem;
  margin: 0.3rem;
}

a:hover .fa-user {
  color: #cb6bec;
}

.fa-shopping-cart {
  color: #ffffff;
  font-size: 1.5rem;
  margin: 0.2rem;
}
a:hover .fa-shopping-cart {
  color: #000000 !important;
  font-size: 1.5rem;
  margin: 0.2rem;
}

.fa-shopping-basket {
  color: #ffffff;
  font-size: 1.5rem;
  margin: 0.2rem;
}

.fa-shopping-bag {
  color: #e6e6e6;
  font-size: 7rem;
  margin: 0.2rem;
}

.heiKayttaja {
  color: #ffffff;
  text-decoration: none;
  margin-right: 5px;
}

.tekstiKayttaja {
  position: relative;
  top: -5px;
  font-size: 1.2rem;
}

.navSumma {
  position: relative;
  top: -5px;
  font-size: 1.2rem;
}
.navOstoskarry:hover {
  color: #000000;
  text-decoration: none !important;
}
/* Toolbar */

#toolbar {
  background-color: #7dd2d9 !important;
}

#toolbar-dropdown-toggle,
.fa-bars {
  color: #ffffff;
}

.fa-shopping-basket,
.fa-arrow-circle-up,
.fa-home,
.fa-arrow-circle-down,
.fa-user-alt,
.fa-sign-out-alt {
  color: #ffffff;
  font-size: 1em !important;
  transition: 0.5s;
}

.fa-shopping-basket:hover,
.fa-arrow-circle-up:hover,
.fa-home:hover,
.fa-arrow-circle-down:hover,
.fa-user-alt:hover,
.fa-sign-out-alt:hover {
  color: #ff33cc;
  transition: 0.5s;
}

.navLinkki {
  color: #ffffff;
  border-radius: 0.25em;
  border: solid thin #7dd2d9;
  transition: 0.5s;
}

.navLinkki:hover {
  transition: 0.5s;
  border: solid thin #ffffff;
  color: #ffffff;
}

.dropdown-item:hover {
  color: #ffffff;
  background-color: #7dd2d9;
}

/*Iconit */

.kehys {
  display: inline-block;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #cb6bec;
  border: 1px solid transparent !important;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s;
}

.kehysMusta {
  display: inline-block;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000000;
  border: 1px solid transparent !important;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s;
  margin-top: 0px !important;
}

.kehysMusta:hover {
  color: #ffffff;
  text-decoration: none !important;
}

.kehysMusta:hover {
  color: #cb6bec;
  text-decoration: none !important;
}

.oma a:hover {
  background-color: #9f5bc2 !important;
  color: #ffffff;
  text-decoration: none;
}

.btn-outline-light a:hover {
  background-color: transparent !important;
  height: 27px;
}

/*rekisteröinti*/
.rekisterointiTausta {
  background-image: url("../img/logo_icons/bg.jpg");
  width: 100%;
}

/*Footer osuus */
footer {
  background-color: #3f3f3f;
  /* color: #d5d5d5; */
  color: #ffffff;
  padding-top: 2rem;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

footer a {
  color: #d5d5d5;
}

hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.fa-phone-alt,
.fa-map-marker-alt,
.fa-store-alt {
  font-size: 2rem;
  margin: 0.7rem;
}

.some_divi i {
  font-size: 2rem;
  margin: 0.7rem;
}

.maksu_divi i {
  font-size: 2rem;
  margin: 0.7rem;
}

.footerText {
  color: #d5d5d5;
}

/*Muutoksia jos sivu menee muuttuu liikaa */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #toolbar {
    margin-right: auto;
    margin-left: auto;
  }

  .toolbar-nav-item {
    margin-left: 1em;
  }

  .toolbar-nav-item a {
    text-align: center;
  }

  .navigation a {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
  .jumbotron {
    /*  background-image: url("img/ash1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0;*/
    height: 100px;
  }
  #toolbar button {
    margin-right: auto;
    margin-left: auto;
  }

  .toolbar-nav-item {
    margin-left: 1em;
  }

  .toolbar-nav-item a {
    text-align: center;
  }

  .navigation a {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
  #toolbar button {
    margin-right: auto;
    margin-left: auto;
  }

  .toolbar-nav-item {
    margin-left: 1em;
  }

  .toolbar-nav-item a {
    text-align: center;
  }

  .navigation a {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
}
/*Login sivun tyylejä*/
.log {
  background-color: #6a5acd;
  border-radius: 20px;
  background: linear-gradient(to bottom, #8601af 0%, #4424d6 120%);
}

.login:hover {
  background: linear-gradient(to bottom, #4424d6 0%, #8601af 120%);
}

.reg {
  color: #d5d5d5;
  margin-left: 220px;
  position: absolute;
  right: 15px;
  bottom: 90px;
}

.reg:hover {
  color: #d5d5d5;
}

.etusivulle {
  color: #d5d5d5;
}

/* kauppa.php */

#kauppa_otsikko {
  text-align: center;
  /* background-color: #ffffff;
  color: black;
  border-radius: 0.25em; */
}

/*korttien tyylejä*/
.kortti {
  width: 78%;
  max-width: 20%;
  padding: 10px;
  margin-left: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 310px;
}

.kortinkuva {
  max-width: 100%;
  height: 140px;
}

#lisaa {
  border-radius: 5px;
  position: absolute;
  bottom: 4px;
  margin-top: 10px;
}

.korttiHinta {
  color: #29293d;
  position: absolute;
  bottom: 23px;
  font-size: 1.4em;
  font-weight: bold;
}

.korttiOts {
  font-size: 1.2em;
  color: #29293d;
}

.card {
  transition: transform .5s;
}

/* .card:hover {
  background-color: #f2f2f2 !important;
} */

.card:hover {
  transform: scale(1.05);
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transition: transform .5s;
}

/*Kortit puhelimessa*/
@media (max-width: 767.98px) {
  .korttiOts {
    font-size: 1em;
  }

  .kortinkuva {
    max-width: 100%;
  }

  .kortti {
    max-width: 50%;
    padding: 10px;
    margin-top: 8px;
    margin-left: 140px;
  }
  /*Login puhelimessa*/
  .kirjLogo {
    position: absolute;
    right: 220px;
  }

  .log {
    height: 700px;
    position: fixed;
    top: 0px;
    padding-top: 30px;
  }

  .m {
    position: absolute;
    bottom: 150px;
    left: 50px;
  }
  .kirjOts {
    position: absolute;
    top: 130px;
    left: 130px;
  }
}

.fa-star {
  color: #ffcc00;
}

/* tuote.php */
.tuotekuva {
  height: 100%;
  max-height: 360px;
}

.tuote {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Lightbox */

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  margin: auto;
  padding: 0;
  max-width: 50%;
  /* max-height: ; */
  border-style: none;
}

/* The Close Button */
.close {
  color: #7dd2d9;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 100px;
  font-weight: bold;
  opacity: 1;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  background-color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Yhteystietosivu */

.yhteystieto {
  margin-right: auto;
  margin-left: auto;
}

.blink {
  animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
  0% {
    color: #ffffff;
  }
  49% {
    color: #ffffff;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #ffffff;
  }
}

.mac {
  width: 100%;
  height: auto;
}

/* Google-map */

.google-maps {
  position: relative;
  padding-bottom: 50%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
}

/*Tuote */

.tuoteKuva {
  max-width: 100%;
  max-height: 80vh;
}
