/* Ostoskori */
.viivaaOstoskori {
  border-bottom: #cccccc solid 1px;
}

.viivaaOstoskoriPaksu {
  border-bottom: #cccccc solid 3px;
}
.ostoksetYhteensa {
  font-size: 1.5rem;
  font-weight: 700;
}
.roskis {
  /* color: #3f3f3f; */
  color: #ff33cc;
  text-decoration: none;
}
.roskis:hover {
  color: #4747d1;
  text-decoration: none;
}
.fa-trash-alt {
  margin-left: 0.5rem;
}

.fa-box,
.fa-history,
.fa-user-shield {
  margin: 0.5rem;
  font-size: 1.5rem;
}

.navPalkki {
  background-color: #7dd2d9;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: lighter;
}

.nav-item {
  margin-right: 1rem;
}

h3 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.btn {
  margin: 1rem;
}

.hintaYhteensa {
  font-size: 1.2rem;
  font-weight: 500;
}

.fa-plus {
  font-size: 1rem;
  margin-left: 0.5rem;
  color: #ff33cc;
}
.fa-plus:hover {
  font-size: 1rem;
  margin-left: 0.5rem;
  color: #ff80ff;
}

.fa-minus {
  font-size: 1rem;
  margin-right: 0.5rem;
  color: #24248f;
}
.fa-minus:hover {
  font-size: 1rem;
  margin-right: 0.5rem;
  color: #9999e6;
}
