.pikkukuva {
    max-width: 140px;
    height: 140px;
  }

  .adminEtusivuDiv {
    text-align: center;
    border: solid thin;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.25em;
    background-color: #3f3f3f;
    color: #ffffff;
  }

  .adminEtusivuDiv i{
    font-size: 5em;
  }

  .btn-admin {
    background-color: #ffae10;
    color: white;
    width: 10em;
  }



